<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LNRespectedGuest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4C8B4E191BFAC42B003A6F65</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4C8B4E381BFAC42B003A6F65</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4C8B4E431BFAC42B003A6F65</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
